<div>
    <div class="container-fluid">

        Zuckerberg, inače student Harvarda, sa svojim je cimerom Dustinom Moskovitzem 4. veljače, 2003. u svojoj sobi na sveučilištu
        osmislio društvenu stranicu kojoj je namjena bila da se već međusobno stečeni prijatelji druže, dopisuju i razmjenjuju
        slike. Ne znajući kako će im Facebook jednoga dana donijeti slavu i bogatstvo lansirali su ga na internet i u samo
        par dana stranica je brojila preko 50.000 ljudi. Mark je kasnije kazao kako mu je ideja došla nakon što je uređivao
        dnevnike i uvrštavao slike u njih a zvali su se Facebook. Kada je stekao slavu i obogatio se preselio se u Palo Alto
        u Kaliforniju. 2006. uvrstio je u Facebook aplikaciju News Fed u kojima su osobe mogle vidjeti što im prijatelji
        u svakom trenutku rade što je izazvalo velike kritike na Zuckebergov račun. Do danas Facebook broji preko 900 milijuna
        korisnika iz svih zemalja svijeta. Procjenjuje se kako dnevno registrira prosječno 60.000 ljudi. Zuckeberg je došao
        na Forbesovu listu najbogatijih Amerikanaca smjestivši se na 321. mjesto i time je postao najmlađom osobom ikada
        koja je dospjela među prvih 400 na Forbesovoj listi.
    </div>
</div>